/ Header
%header.navbar
  .container
    .navbar-brand
      %a.navbar-item
        %img{:alt => "Logo", :src => image_url("logo.png")}/
      %span.navbar-burger.burger{"data-target" => "navbarMenuHeroC"}
        %span
        %span
        %span
    #navbarMenuHeroC.navbar-menu
      .navbar-end
        %a.navbar-item.is-active
          Home
        %a.navbar-item
          Pricing
        %span.navbar-item
          %a.button.is-primary
            %span Sign up
        %span.navbar-item
          %a.button.is-success
            %span Sign in
%section.hero.is-info.is-medium
  .hero-body
    .container.has-text-centered
      %h1.title
        Essential People Ops tools for your business.
      %a{href: '#', class: 'button is-primary'}
        Sign up
%footer.footer
  .container
    .columns
      .column.is-3
        .content
          %p.header
          %p
            %a{:href => "https://bulma.io"} Home
          %p
            %a{:href => "https://bulma.io/blog"} Blog
          %p
            %a{:href => "/2018/06/20/automatic-variables-documentation/"}
              About
          %p
            %a{:href => "/2018/04/14/migration-to-v070/"}
              Careers
          %p
            %a{:href => "/2018/04/13/website-redesign/"}
              Website redesign
          %p
            %a{:href => "/2018/01/18/bulma-supports-font-awesome-5/"}
              Font Awesome 5
          %p
            %a{:href => "https://bulma.io/blog"}
            View all posts
      .column.is-3
        .content
          %p
            %a{:href => "https://bulma.io/documentation"} Documentation
          %p
            %a{:href => "https://bulma.io/documentation/overview"}
              Overview
          %p
            %a{:href => "https://bulma.io/documentation/customize"}
              Customize
          %p
            %a{:href => "https://bulma.io/documentation/modifiers"}
              Modifiers
          %p
            %a{:href => "https://bulma.io/documentation/columns"}
              Columns
          %p
            %a{:href => "https://bulma.io/documentation/layout"}
              Layout
          %p
            %a{:href => "https://bulma.io/documentation/form"}
              Form
          %p
            %a{:href => "https://bulma.io/documentation/elements"}
              Elements
          %p
            %a{:href => "https://bulma.io/documentation/components"}
              Components
    .content.has-text-centered
      %p
        %strong Worklark
        by
        = succeed "." do
          %a{:href => "https://amin.gilani.me"} Amin Shah Gilani
        = succeed "." do
          All rights reserved
