/ Header
%header.navbar
.content.has-text-centered
  %p
    %strong LookupMyOwner
    by
    = succeed "." do
      %a{:href => "https://amin.gilani.me"} Amin Shah Gilani
    = succeed "." do
      All rights reserved
